.card-category {
    padding: 20%;
    width: 90%;
    background: black;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    background: #000000;  /* fallback colour. Make sure this is just one solid colour. */
}
.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    cursor: pointer;
}


.img-size{
    width:  100%;
    height: 200px;
    object-fit: cover;
}
